<% content_for :javascript do %>
  <script type='text/javascript'>
    jQuery(document).ready(function() {
      tasklist.setup();
    });
  </script>
<% end %>

<h1>Tasks</h1>
<p style="margin-top: 55px;">
  Drag to prioritize.
</p>
<p>
  <input id="show-completed-checkbox" type="checkbox" name="show-completed" value="val"> Show completed tasks
</p>
<div class="new-task">
  <%= link_to 'New Task', new_task_path, id: "new-task-link" %>
</div>

<div id="new-task-container">
</div>

<div class="panel-group">
<%= render @tasks %>
</div>
