<h1>Tasks</h1>
Drag to order.<br>
(color legend)<br>
√ Show completed tasks
<div class="new-task">
  <%= link_to 'New Task', new_task_path %>
</div>

<div class="panel-group">
<%= render @tasks %>
</div>
