<div class="attachment" attachment_id="<%= attachment.id %>">
  <%= attachment.filename %>
  <div class="attachment-buttons">
    <a href="/attachments/<%= attachment.id %>" title="Download Attachment" download><i class="task-download-attachment fa fa-download fa-lg"></i></a>
    <a href="#" class="delete-attachment-link" title="Delete Attachment"><i class="attachment-delete fa fa-window-close-o fa-lg"></i></a>
  </div>
</div>
