<form class="edit-task-form" action="/api/tasks/<%= task_id %>" accept-charset="UTF-8" method="put"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="<%= authenticity_token %>" />

  <div class="field">
    <label for="task_due">Due Date</label>
    <input name="task[due]" type="text" class="datepicker" autocomplete="off">
  </div>

  <div class="field">
    <label for="task_description">Description</label>
    <textarea name="task[description]" id="task_description"><%= description %>
</textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Update Task" data-disable-with="Update Task" />
  </div>
</form>
