<form id="new-task-form" action="/api/tasks" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="<%= authenticity_token %>" />
  <div class="field">
    <label for="task_due">Due Date</label>
    <input name="task[due]" type="text" class="datepicker" autocomplete="off">
  </div>

  <div class="field">
    <label for="task_description">Description</label>
    <textarea name="task[description]" id="task_description">
</textarea>
  </div>

  <div class="actions">
    <input id="new-task-submit-button" type="submit" name="commit" value="Create Task" data-disable-with="Create Task" />
  </div>
</form>
