// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-heading, .task-heading i {
  color: white;
}
.task-heading a:hover {
  background-color: #428bca;
}
.task.completed .task-heading, .task.completed a:hover {
  background-color: #d6e9c6;
}
.task.completed .task-heading {
  color: white;
  background-color: green;
}
.task-draggable {
  float: left;
  margin-right: 15px;
}
.task-due {
  float: left;
}
.task-buttons {
  float: right;
}
.new-task {
  float: right;
}
.panel-group {
  padding-top: 20px;
  clear: both;
}
.task-edit, .task-delete, .task-mark-completed {
  margin-left: 5px;
  color: white;
}
